{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}

<head>
  <title>
    {%block title%}
      To be replaced by actual title
    {%endblock%}
  </title>
</head>
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}
<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'motivatin/style.css' %}" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="{% static 'js/rango-ajax.js' %}"></script>
<script type="text/css">
.mynavbar {
    display:block;
    margin:0px;
    padding:0px;
    height:50px;
}
</script>
<script type="text/javascript">
    $(document).ready(function() {
      $('.dateinput').datepicker({ format: "yyyy/mm/dd" });
      $('.datetimeinput').datetimepicker({format: "YYYY-MM-DD HH:mm"});
    });
</script>
</head>
<body style="font-family: 'Varela Round'">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" >
      <a class="navbar-brand" href="/home" style="font-family: 'Righteous'">MOTIVATIN</a>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          {%if user.is_authenticated%}
            <img src="{% static 'motivatin/media/user.png' %}" height="30px" %} />
            Profile
          {%else%}
            Login here!
          {%endif%}
                  
          <span class="caret"></span>
          </a>
                <ul class="dropdown-menu">
                  {%if user.is_authenticated%}
                      <!-- uncomment after user view has been created -->
                      <!--<li><a href="/accounts/user">{{user.username}}</a></li>-->
                      <li><a href="/dashboard">Dashboard</a></li>
                      <li><a href="/home">Home</a></li>
                      <li><a href="/add">Add New Goal</a></li>
                      <li><a href="/add/tag">Add New Tag</a></li>
                      <li><a href="/accounts/logout">Logout</a></li>
                  {%else%}
                      <li><a href="/accounts/login">Login</a></li>
                      <li><a href="/accounts/register">Register</a></li> <!-- in case the poor person doesn't have an account -->
                  {%endif%}
                
                      
                </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="main">
{%block content%}
  To be replaced by actual content
{%endblock%}
</div>
</body>